.b-flag
	background-image url(./flags__sprite.png)
	background-repeat no-repeat
	display block
	width 16px
	height 11px

	&_ad
		background-position -20px -20px

	&_ae
		background-position -20px -71px

	&_af
		background-position -20px -122px

	&_ag
		background-position -20px -173px

	&_ai
		background-position -20px -224px

	&_al
		background-position -20px -275px

	&_am
		background-position -20px -326px

	&_an
		background-position -20px -377px

	&_ao
		background-position -20px -428px

	&_ar
		background-position -20px -479px

	&_as
		background-position -20px -530px

	&_at
		background-position -20px -581px

	&_au
		background-position -20px -632px

	&_aw
		background-position -20px -683px

	&_ax
		background-position -20px -734px

	&_az
		background-position -20px -785px

	&_ba
		background-position -20px -836px

	&_bb
		background-position -20px -887px

	&_bd
		background-position -20px -938px

	&_be
		background-position -20px -989px

	&_bf
		background-position -20px -1040px

	&_bg
		background-position -20px -1091px

	&_bh
		background-position -20px -1142px

	&_bi
		background-position -20px -1193px

	&_bj
		background-position -20px -1244px

	&_bm
		background-position -20px -1295px

	&_bn
		background-position -20px -1346px

	&_bo
		background-position -20px -1397px

	&_br
		background-position -20px -1448px

	&_bs
		background-position -20px -1499px

	&_bt
		background-position -20px -1550px

	&_bv
		background-position -20px -1601px

	&_bw
		background-position -20px -1652px

	&_by
		background-position -20px -1703px

	&_bz
		background-position -20px -1754px

	&_ca
		background-position -20px -1805px

	&_catalonia
		background-position -20px -1856px

	&_cc
		background-position -20px -1907px

	&_cd
		background-position -20px -1958px

	&_cf
		background-position -20px -2009px

	&_cg
		background-position -20px -2060px

	&_ch
		width 11px
		background-position -20px -2111px

	&_ci
		background-position -20px -2162px

	&_ck
		background-position -20px -2213px

	&_cl
		background-position -20px -2264px

	&_cm
		background-position -20px -2315px

	&_cn
		background-position -20px -2366px

	&_co
		background-position -20px -2417px

	&_cr
		background-position -20px -2468px

	&_cs
		background-position -20px -2519px

	&_cu
		background-position -20px -2570px

	&_cv
		background-position -20px -2621px

	&_cx
		background-position -20px -2672px

	&_cy
		background-position -20px -2723px

	&_cz
		background-position -20px -2774px

	&_de
		background-position -20px -2825px

	&_dj
		background-position -20px -2876px

	&_dk
		background-position -20px -2927px

	&_dm
		background-position -20px -2978px

	&_do
		background-position -20px -3029px

	&_dz
		background-position -20px -3080px

	&_ec
		background-position -20px -3131px

	&_ee
		background-position -20px -3182px

	&_eg
		background-position -20px -3233px

	&_eh
		background-position -20px -3284px

	&_england
		background-position -20px -3335px

	&_er
		background-position -20px -3386px

	&_es
		background-position -20px -3437px

	&_et
		background-position -20px -3488px

	&_europeanunion
		background-position -20px -3539px

	&_fam
		background-position -20px -3590px

	&_fi
		background-position -20px -3641px

	&_fj
		background-position -20px -3692px

	&_fk
		background-position -20px -3743px

	&_fm
		background-position -20px -3794px

	&_fo
		background-position -20px -3845px

	&_fr
		background-position -20px -3896px

	&_ga
		background-position -20px -3947px

	&_gb
		background-position -20px -3998px

	&_gd
		background-position -20px -4049px

	&_ge
		background-position -20px -4100px

	&_gf
		background-position -20px -4151px

	&_gh
		background-position -20px -4202px

	&_gi
		background-position -20px -4253px

	&_gl
		background-position -20px -4304px

	&_gm
		background-position -20px -4355px

	&_gn
		background-position -20px -4406px

	&_gp
		background-position -20px -4457px

	&_gq
		background-position -20px -4508px

	&_gr
		background-position -20px -4559px

	&_gs
		background-position -20px -4610px

	&_gt
		background-position -20px -4661px

	&_gu
		background-position -20px -4712px

	&_gw
		background-position -20px -4763px

	&_gy
		background-position -20px -4814px

	&_hk
		background-position -20px -4865px

	&_hm
		background-position -20px -4916px

	&_hn
		background-position -20px -4967px

	&_hr
		background-position -20px -5018px

	&_ht
		background-position -20px -5069px

	&_hu
		background-position -20px -5120px

	&_id
		background-position -20px -5171px

	&_ie
		background-position -20px -5222px

	&_il
		background-position -20px -5273px

	&_in
		background-position -20px -5324px

	&_io
		background-position -20px -5375px

	&_iq
		background-position -20px -5426px

	&_ir
		background-position -20px -5477px

	&_is
		background-position -20px -5528px

	&_it
		background-position -20px -5579px

	&_jm
		background-position -20px -5630px

	&_jo
		background-position -20px -5681px

	&_jp
		background-position -20px -5732px

	&_ke
		background-position -20px -5783px

	&_kg
		background-position -20px -5834px

	&_kh
		background-position -20px -5885px

	&_ki
		background-position -20px -5936px

	&_km
		background-position -20px -5987px

	&_kn
		background-position -20px -6038px

	&_kp
		background-position -20px -6089px

	&_kr
		background-position -20px -6140px

	&_kw
		background-position -20px -6191px

	&_ky
		background-position -20px -6242px

	&_kz
		background-position -20px -6293px

	&_la
		background-position -20px -6344px

	&_lb
		background-position -20px -6395px

	&_lc
		background-position -20px -6446px

	&_li
		background-position -20px -6497px

	&_lk
		background-position -20px -6548px

	&_lr
		background-position -20px -6599px

	&_ls
		background-position -20px -6650px

	&_lt
		background-position -20px -6701px

	&_lu
		background-position -20px -6752px

	&_lv
		background-position -20px -6803px

	&_ly
		background-position -20px -6854px

	&_ma
		background-position -20px -6905px

	&_mc
		background-position -20px -6956px

	&_md
		background-position -20px -7007px

	&_me
		height 12px
		background-position -20px -7058px

	&_mg
		background-position -20px -7110px

	&_mh
		background-position -20px -7161px

	&_mk
		background-position -20px -7212px

	&_ml
		background-position -20px -7263px

	&_mm
		background-position -20px -7314px

	&_mn
		background-position -20px -7365px

	&_mo
		background-position -20px -7416px

	&_mp
		background-position -20px -7467px

	&_mq
		background-position -20px -7518px

	&_mr
		background-position -20px -7569px

	&_ms
		background-position -20px -7620px

	&_mt
		background-position -20px -7671px

	&_mu
		background-position -20px -7722px

	&_mv
		background-position -20px -7773px

	&_mw
		background-position -20px -7824px

	&_mx
		background-position -20px -7875px

	&_my
		background-position -20px -7926px

	&_mz
		background-position -20px -7977px

	&_na
		background-position -20px -8028px

	&_nc
		background-position -20px -8079px

	&_ne
		background-position -20px -8130px

	&_nf
		background-position -20px -8181px

	&_ng
		background-position -20px -8232px

	&_ni
		background-position -20px -8283px

	&_nl
		background-position -20px -8334px

	&_no
		background-position -20px -8385px

	&_np
		width 9px
		background-position -20px -8436px

	&_nr
		background-position -20px -8487px

	&_nu
		background-position -20px -8538px

	&_nz
		background-position -20px -8589px

	&_om
		background-position -20px -8640px

	&_pa
		background-position -20px -8691px

	&_pe
		background-position -20px -8742px

	&_pf
		background-position -20px -8793px

	&_pg
		background-position -20px -8844px

	&_ph
		background-position -20px -8895px

	&_pk
		background-position -20px -8946px

	&_pl
		background-position -20px -8997px

	&_pm
		background-position -20px -9048px

	&_pn
		background-position -20px -9099px

	&_pr
		background-position -20px -9150px

	&_ps
		background-position -20px -9201px

	&_pt
		background-position -20px -9252px

	&_pw
		background-position -20px -9303px

	&_py
		background-position -20px -9354px

	&_qa
		background-position -20px -9405px

	&_re
		background-position -20px -9456px

	&_ro
		background-position -20px -9507px

	&_rs
		background-position -20px -9558px

	&_ru
		background-position -20px -9609px

	&_rw
		background-position -20px -9660px

	&_sa
		background-position -20px -9711px

	&_sb
		background-position -20px -9762px

	&_sc
		background-position -20px -9813px

	&_scotland
		background-position -20px -9864px

	&_sd
		background-position -20px -9915px

	&_se
		background-position -20px -9966px

	&_sg
		background-position -20px -10017px

	&_sh
		background-position -20px -10068px

	&_si
		background-position -20px -10119px

	&_sj
		background-position -20px -10170px

	&_sk
		background-position -20px -10221px

	&_sl
		background-position -20px -10272px

	&_sm
		background-position -20px -10323px

	&_sn
		background-position -20px -10374px

	&_so
		background-position -20px -10425px

	&_sr
		background-position -20px -10476px

	&_st
		background-position -20px -10527px

	&_sv
		background-position -20px -10578px

	&_sy
		background-position -20px -10629px

	&_sz
		background-position -20px -10680px

	&_tc
		background-position -20px -10731px

	&_td
		background-position -20px -10782px

	&_tf
		background-position -20px -10833px

	&_tg
		background-position -20px -10884px

	&_th
		background-position -20px -10935px

	&_tj
		background-position -20px -10986px

	&_tk
		background-position -20px -11037px

	&_tl
		background-position -20px -11088px

	&_tm
		background-position -20px -11139px

	&_tn
		background-position -20px -11190px

	&_to
		background-position -20px -11241px

	&_tr
		background-position -20px -11292px

	&_tt
		background-position -20px -11343px

	&_tv
		background-position -20px -11394px

	&_tw
		background-position -20px -11445px

	&_tz
		background-position -20px -11496px

	&_ua
		background-position -20px -11547px

	&_ug
		background-position -20px -11598px

	&_um
		background-position -20px -11649px

	&_us
		background-position -20px -11700px

	&_uy
		background-position -20px -11751px

	&_uz
		background-position -20px -11802px

	&_va
		background-position -20px -11853px

	&_vc
		background-position -20px -11904px

	&_ve
		background-position -20px -11955px

	&_vg
		background-position -20px -12006px

	&_vi
		background-position -20px -12057px

	&_vn
		background-position -20px -12108px

	&_vu
		background-position -20px -12159px

	&_wales
		background-position -20px -12210px

	&_wf
		background-position -20px -12261px

	&_ws
		background-position -20px -12312px

	&_ye
		background-position -20px -12363px

	&_yt
		background-position -20px -12414px

	&_za
		background-position -20px -12465px

	&_zm
		background-position -20px -12516px

	&_zw
		background-position -20px -12567px

